.eps {
    &__container {
        padding: 5.6vw;
    }
    h2 {
        text-align: center;
        font-family: sans-serif;
    }
    &__select {
        font-family: sans-serif;
        color: #fff;
        font-size: 22px;
        padding: 16px;
        cursor: pointer;
        &__item {
            font-family: sans-serif;
        }
    }

    &__watch {
        padding: 16px 0;
        display: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        &--is-active {
            display: grid;
        }

        &__item {
            max-width: 100%;
            border: 5px solid black;
            border-radius: 4px;
            margin: 8px 0;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.05);
            }
            img {
                max-width: 100%;
            }
        }


    }
}