.header {
    height: 10vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    .nav {
        padding: 0 5.6vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            max-height: 10vw;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__item {
                list-style: none;
                border: 3px solid transparent;
                border-radius: 4px;
                padding: 16px 24px;
                letter-spacing: 2px;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.3);
                }
    
                a {
                    text-decoration: none;
                }
            }
        }
    }
}

