.hero {
    padding: 5.6vw;
    background-image: url(../images/hero.jpg);
    @media (max-width: 1023px) {
        background-image: url(../images/hero_mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 140vw;
        h2 {
            display: none;
        }
    }
    @media (max-width: 768px) {
        background-image: url(../images/hero_mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 15vw;
        &__container {
            padding-top: 130vw;
            background-color: transparent;
            h2 {
                background-color: transparent;
            }
            p {
                background-color: transparent;
                font-size: 16px;
            }
        }
    }

    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        max-width: 780px;
        text-align: justify;
        h2 {
            padding: 16px 0;
            text-align: center;
            font-size: 80px;
            margin: 16px;
        }

        p {
            margin: 8px;
        }
    }
}