.hero {
    padding: 5.6vw;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 1600px) {
        &__container {
            max-width: 70% !important;
            p {
                font-size: 18px;
            }
        }
    }
    @media (min-width: 1024px) {
        background-position: right;
    }
    @media (max-width: 1023px) {
        background-image: url(../images/hero_mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 140vw;
        &__container {
            max-width: 100% !important;
        }
        h2 {
            display: none;
        }
    }
    @media (max-width: 768px) {
        background-image: url(../images/hero_mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 15vw;
        &__container {
            padding-top: 130vw;
            background-color: transparent;
            &__container {
                max-width: 100% !important;
            }
            h2 {
                background-color: transparent;
            }
            p {
                background-color: transparent;
                font-size: 16px;
            }
        }
    }

    &__container {
        max-width: 55%;
        text-align: justify;
        background-color: transparent;
        h2 {
            padding: 16px 0;
            text-align: center;
            font-size: 80px;
            margin: 16px;
            background-color: transparent;
        }

        p {
            margin: 8px;
            background-color: transparent;
        }
    }
}