@use 'variaveis';
@use 'header';
@use 'pirates';
@use 'resumo';
@use 'hero';
@use 'eps';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variaveis.$fontePrincipal, sans-serif;
    background-color: variaveis.$corFundo;
}

@mixin title($fontSize: 40px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin text($fontSize: 14px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    font-family: sans-serif;
    color: #fff
}

.title {
    @include title;
}

.title--big {
    @include title(48px);
}

.text {
    @include text;
}

